# Ignore admin web frontend
../../Backend/
../../Frontend/


# Ignore any tar archives (these cause permission issues)
*.tar
*.tar.gz
*.tar.bz2
backend.tar

# Ignore node_modules outside mobile folder
node_modules/

# Ignore environment files
.env
.env.*

# Ignore build outputs
dist/
build/
out/

# Ignore logs and caches
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.expo/
.expo-shared/
.cache/
tmp/

# Ignore git-related files
.git/
.gitignore

# Ignore OS-specific junk
.DS_Store
Thumbs.db

# native
android
ios

vscode/