node_modules/
.env
.env.local
.env.staging
.env.production
src/data/rescuenect-private-key.json
lively-metrics-453114-q3-firebase-adminsdk-fbsvc-dba3bff89c.json
staging-rescuenect-firebase-adminsdk-fbsvc-e5d6112a7c.json
curl-test.txt
dist/
build/
brain
