@font-face {
    font-family: 'Poppins';
    src: url('poppins/regular/Poppins-Regular.woff2') format('woff2'),
        url('poppins/regular/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins/bold/Poppins-Bold.woff2') format('woff2'),
        url('poppins/bold/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins/italic/Poppins-Italic.woff2') format('woff2'),
        url('poppins/italic/Poppins-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('poppins/extra-light/Poppins-ExtraLight.woff2') format('woff2'),
        url('poppins/extra-light/Poppins-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

.font_bold{
    font-family: 'Poppins', system-ui, Arial;
    font-weight: bold;
}

.font_italic{
    font-family: 'Poppins', system-ui, Arial;
    font-style: italic;
}

.font_light{
    font-family: 'Poppins', system-ui, Arial;
    font-weight: 200;
}

.font_thin{
    font-family: 'Poppins', system-ui, Arial;
    font-weight: 100;
}