@import "tailwindcss";
@plugin '../hero.ts';    /* Path may need adjusting to where hero.ts is */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
    --font-display: 'Poppins', system-ui, Arial;

    /* light */
    --color-primary: #0EA5E9;
    --color-secondary: #DA9E22;

    /* background */
    --color-bg: #F8F8FF;
    --color-bg-hover: #e4e4e4;

    /* card */
    --color-card: #FFFFFF;
    --color-card-hover: #F0F0F0;

    /* text */
    --color-text: #000000;

    /* border color */
    --color-border: #E0E6ED;

    /* tertiary */
    --color-tertiary: #171C42;

    /* ------------------  */

    /* dark */
    --color-primary-dark: #2563EB;
    --color-secondary-dark: #DA9E22;

    /* background */
    --color-bg-dark: #171717;
    --color-bg-hover-dark: #1f1f1f;

    /* card */
    --color-card-dark: #121212;
    --color-card-hover-dark: #1a1a1a;

    /* text */
    --color-text-dark: #E0E6ED;

    /* border color */
    --color-border-dark: #2a2a2a;
}

@layer base {
    body {
        font-family: var(--font-display);
        font-size: 13px;
        background-color: var(--color-bg);
        }

        .dark body {
        background-color: var(--color-bg-dark);
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('font/Poppins-Regular.woff2') format('woff2'),
        url('font/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}