@import 'tailwindcss';
@plugin '../hero.ts'; /* Path may need adjusting to where hero.ts is */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@custom-variant dark (&:is(.dark *));

@theme {
  --font-display: 'Poppins', system-ui, Arial;

  /* light */
  --color-primary: #0ea5e9;
  --color-secondary: #da9e22;

  /* background */
  --color-bg: #f8f8ff;
  --color-bg-hover: #e4e4e4;

  /* card */
  --color-card: #ffffff;
  --color-card-hover: #f0f0f0;

  /* text */
  --color-text: #000000;

  /* border color */
  --color-border: #e0e6ed;

  /* tertiary */
  --color-tertiary: #171c42;

  /* ------------------  */

  /* dark */
  --color-primary-dark: #2563eb;
  --color-secondary-dark: #da9e22;

  /* background */
  --color-bg-dark: #171717;
  --color-bg-hover-dark: #1f1f1f;

  /* card */
  --color-card-dark: #121212;
  --color-card-hover-dark: #1a1a1a;

  /* text */
  --color-text-dark: #e0e6ed;

  /* border color */
  --color-border-dark: #2a2a2a;
}

@layer base {
  body {
    font-family: var(--font-display);
    font-size: 13px;
    background-color: var(--color-bg);
  }

  .dark body {
    background-color: var(--color-bg-dark);
  }
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/font/Poppins-Regular.woff2') format('woff2'),
    url('/font/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px; /* Adjust as needed */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray thumb */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker gray on hover */
}

/* TipTap placeholder */
.tiptap p.is-editor-empty:first-child::before {
  color: #9ca3af;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
