@tailwind base;
@tailwind components;
@tailwind utilities;

.primary{
    background: linear-gradient(to bottom right, #14723C 0%, #00A35A 90%, #00A35A 100%);
}

.secondary{
    background: linear-gradient(to top, #384cff85 0%, #F8F8FF 90%, #F8F8FF 100%);
}

.dark .secondary{
    background: linear-gradient(to top, #3f4dc985 0%, #333333 90%, #333333 100%);
}

/* secondary 100% opacity */
/* .secondary-100{
    background: linear-gradient(to bottom right, #384CFF 0%, #F8F8FF 100%);
} */

/* body{
    background-color: #333333;
} */